{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Schedule Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="description" content="ページの説明">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={% static 'css/style.css' %} rel="stylesheet" />
    {% comment %} <link href={% static "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %} 
    rel="stylesheet" /> {% endcomment %}
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="header-container">
            <header class="masthead" style="background-image:url({% static 'images/2.jpg' %})" >
                <div id="outer">
                    <div id="head-inner">
                        <h1>すけあぷ。</h1>
                        <h2>～スケジュール管理アプリ～</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <button class="navbar-toggler" 
        type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> 

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% comment %} <p>{{request.user.username}}さん</p> {% endcomment %}
        {% comment %} <a class="nav-link btn btn-success" href="{% url 'create' %}" role="button">日記を書く</a>  {% endcomment %}
        {% comment %} <a class="nav-link" href="{% url 'mypost' %}">マイリスト</a> {% endcomment %}
        <a class="nav-link" href="/accounts/logout/">ログアウト</a>
        {% comment %} <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'contact' %}">問い合わせ</a> {% endcomment %}
        </div>
    </div>

    <nav class="navbar navbar-expend-lg navbar-light"
            id="mainNav">
        <div class="container px-4 px-lg-5"></div>
            <button class="navbar-toggler"
                    type="button"
                    deta-bs-toggle="collapse"
                    deta-bs-target="#navbarResponseive"
                    aria-controls="navbarResponseive"
                    aria-expended="false"
                    aria-label="Toggle navigation">
            </button>
                
                <i class="collapse navbar-collapse"
                    id="navbarResponseive"></i>
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4"
                                href="{% url 'home' %}">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4"
                                href="{% url 'create' %}">投稿する</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4"
                                href="{% url 'contact' %}">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4"
                                href="{% url 'mypost' %}">俺の予定</a>
                        </li>
                    </ul>
            </div>
        </nav>


    <main>
        <div id="content-wrapper">
            <aside>
                <div id="middle-inner">
                    <div class="side-title">このサイトについて</div>
                        <div class="side">自分のスケジュールを他の人と共有しよう！
                        </div>
                    </div>
                </div>
            </aside>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% comment %} {% block content %} {% endcomment %}
                        <div class="container mt-3">
                            {% for item in object_list %}
                            <div class="alert alert-success" role="alert">
                                <p>タイトル：<a href="#">{{item.title}}</a></p>
                                <p>投稿者：{{item.user.username}}</p> 
                                <p>コメント：{{object.content}}</p>   
                            </div>
                            {% endfor %}
                        </div>
                        {% comment %} {% endblock content %} {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        {% comment %} {% include "pagination.html" %} {% endcomment %}
        <!-- Twitterのhref属性にURLを設定 -->
        <li class="list-inline-item">
            <a href="https://twitter.com/">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <!--  Facebookのhref属性にURLを設定 -->
        <li class="list-inline-item">
            <a href="https://www.facebook.com/">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <!--  GitHubのhref属性にURLを設定 -->
        <li class="list-inline-item">
            <a href="https://github.co.jp/">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>

        <small>Copyright&copy; 
            <a href="index.html">Sample Company
            </a> All Rights Reserved.
        </small>
            <span class="pr">
                <a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》
                </a>
            </span>
        
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                        <!-- 著作権の記載を独自のものに変更 -->
                        <div class="small text-center text-muted fst-italic">
                            Copyright &copy; Schedule Management 2024</div>
                    </div>
                </div>
            </div>
        </footer>
    {% comment %} <script src={% static 'js/main.js' %}>
    </script> {% endcomment %}
</body>
</html>