{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Schedule Management - study</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="description" content="ページの説明">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link href={% static 'css/style.css' %} rel="stylesheet" />
    <link href={% static "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %} 
    rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div id="header-container">
            <header class="masthead" style="background-image:url({% static 'images/2.jpg' %})" >
                <div id="outer">
                    <div id="head-inner">
                        <h1>すけあぷ。</h1>
                        <h2>～スケジュール管理アプリ～</h2>
                    </div>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <!-- ログイン中のメニュー -->
        <li><a href="{% url 'sceapp:index' %}"
            class="text-white">マイページ</a></li>
        <li><a href="{% url 'accounts:logout' %}"
            class="text-white">ログアウト</a></li>
            {% comment %} <li><a href="{% url '#' %}"
                class="text-white">パスワードのリセット</a></li> {% endcomment %}
        <li><a href="mailto:admin@example.com"
            class="text-white">Email me</a></li>
        {% else %}
        <!-- ログイン状態ではない場合のメニュー -->
        <li><a href="{% url 'accounts:signup' %}"
                class="text-white">サインアップ</a></li>
        <li><a href="{% url 'accounts:login' %}"
                class="text-white">ログイン</a></li>
        <li><a href="mailto:admin@example.com"
                class="text-white">Email me</a></li>
        {% endif %}
    </header>
    <!-- Navigation -->
    <nav class="navbar navbar-expend-lg navbar-light"
            id="mainNav">
        <div class="container px-4 px-lg-5">
            <button class="navbar-toggler"
                    type="button"
                    deta-bs-toggle="collapse"
                    deta-bs-target="#navbarResponseive"
                    aria-controls="navbarResponseive"
                    aria-expended="false"
                    aria-label="Toggle navigation">
            </button>
                Menu
                    <i class="collapse navbar-collapse"
                        id="navbarResponseive">
                        <ul class="navbar-nav ms-auto py-4 py-lg-0">
                            <li class="nav-item">
                                <!-- ナビゲーションメニュー「HOME」のhrefの値を変更 -->
                                <a class="nav-link px-lg-3 py-3 py-lg-4"
                                    href="{% url 'sceapp:index' %}">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-lg-3 py-3 py-lg-4"
                                    href="{% url 'sceapp:study_list' %}">STUDY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-lg-3 py-3 py-lg-4"
                                    href="{% url 'sceapp:hobby_list' %}">HOBBY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-lg-3 py-3 py-lg-4"
                                    href="{% url 'sceapp:other_list' %}">OTHER</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-lg-3 py-3 py-lg-4"
                                    href="{% url 'sceapp:contact' %}">CONTACT</a>
                            </li>
            </nav>

<div id="content-wrapper">

<main>
</main>
<aside>
    <div id="middle-inner">
        <div class="side-title">カテゴリ</div>
            <div class="side">STUDY/勉強</div>
        </div>
    </div>
    <!-- Main Content -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                {% for record in study_records %}
                <!-- Post preview -->
                <div class="post-preview">
                    <a href={% url 'sceapp:sce-detail' record.pk %}>
                        <!-- 記事のタイトル -->
                        <h2 class="post-title">
                            {{record.title}}</h2>
                        <!-- 投稿記事の本文 -->
                        <h3 class="post-subtitle">
                            <span style="font-size : 14pt">
                                {{record.content|truncatechars:50}}
                            </span>
                        </h3>
                    </a>
                    <!-- 投稿日時とカテゴリ -->
                    <p class="post-meta">
                        <a href="#">Schedule Management</a>
                        {{record.posted_at}}に投稿/カテゴリ:
                        {{record.category}}</p>
                    </p>
                </div>

                <hr class="my-4" />
                {% endfor %}
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" href="#!">
                        older Posts →
                    </a>
                </div>
            </div>
        </div>
    </div>

</aside>
    <footer>
        {% include "pagination.html" %}
        <!-- Twitterのhref属性にURLを設定 -->
        <li class="list-inline-item">
            <a href="https://twitter.com/">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <!--  Facebookのhref属性にURLを設定 -->
        <li class="list-inline-item">
            <a href="https://www.facebook.com/">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <!--  GitHubのhref属性にURLを設定 -->
        <li class="list-inline-item">
            <a href="https://github.co.jp/">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        </ul>
        <small>Copyright&copy; <a href="index.html">Sample Company</a> All Rights Reserved.</small>
        <span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
        
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                        <!-- 著作権の記載を独自のものに変更 -->
                        <div class="small text-center text-muted fst-italic">
                            Copyright &copy; Schedule Management 2024</div>
                    </div>
                </div>
            </div>
        </footer>
    <script src={% static 'js/main.js' %}>
    </script>
</body>
</html>